.hero{
  text-align: center;
  color: white;
  font-family: "Pixelify Sans", sans-serif;
}

h1{
  font-size: 40px;
}

body {
  background-color: black;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXvpoc3V-0G2eT9TbnStu5atyt0WnHYdclrih6ob05YWLKnyiQVSbguYNW&s=10");
  background-size: cover;
  background-position: center;
  background-color: black;

}

.about{
  color: white;
  font-family: "Boldonse", sans-serif;
  font-size: 14px;
}

img{
  display: block;
  margin: 0 auto;
  border: 5px solid white;
  border-radius: 10px;
}